Repository Grizzelbee/ioBroker.dysonairpurifier: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run lint", "npm run format"],
  "*.{md,json}": ["npm run format"]
}

v3.2.5
  README.md
Due: npm run format

v3.2.5
  README.md
  package.json
Due: npm run format

chore: release v3.2.5
  README.md
  io-package.json
  package-lock.json
  package.json
Due: npm run format

Update test-and-release.yml
  .github/workflows/test-and-release.yml
Due: none

Update README.md
  README.md
Due: npm run format

added more screen sizes
  admin/jsonConfig.json
Due: npm run format

fixes #329 added more screen sizes
  admin/jsonConfig.json
Due: npm run format

added screen sizes to testAlive
  admin/jsonConfig.json
Due: npm run format

dependencies got updated
  package-lock.json
  package.json
Due: npm run format

responsive design
  admin/jsonConfig.json
Due: npm run format

work in progress
  README.md
Due: npm run format

chore: release v3.2.6
  README.md
  io-package.json
  package-lock.json
  package.json
Due: npm run format

Dependencies got updated
  package-lock.json
  package.json
Due: npm run format

updated year
  LICENSE
Due: none

fixes #332
  package-lock.json
  package.json
Due: npm run format

removed unused file
  admin/style.css
Due: none

Moved to eslint 9
  .eslintrc.json
  .lintstagedrc
  .prettierrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  prettier.config.mjs
Due: npm run format

fixed new lint issues
  main.js
Due: npm run lint, npm run format

fixes #331
  README.md
Due: npm run format

fixed eslint issues
  dyson-utils.js
  dysonConstants.js
Due: npm run lint, npm run format

fixed eslint issues
  .ncurc.json
Due: npm run format

chore: release v3.2.7
  README.md
  io-package.json
  package-lock.json
  package.json
Due: npm run format

Admin dependency got updated
  io-package.json
Due: npm run format

Fixes #338
  README.md
  package-lock.json
  package.json
Due: npm run format

fixes #341 Fixed linting
  .ncurc.json
  README.md
  eslint.config.mjs
  lib/tools.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

fixes #342 Updated minimum required NodeJs Version to 20
  README.md
  package.json
Due: npm run format

fixes #344 Added testing for Node 24.x
  .github/workflows/test-and-release.yml
Due: none

fixes #349 Updated dependencies
  io-package.json
  package-lock.json
  package.json
Due: npm run format

active development
  dyson-utils.js
  main.js
Due: npm run lint, npm run format

active development
  package-lock.json
Due: npm run format

fixes #344
  .github/workflows/test-and-release.yml
Due: none

fixes #349
  io-package.json
  package-lock.json
  package.json
Due: npm run format

fixes #349
  package-lock.json
  package.json
Due: npm run format
