Repository Grizzelbee/ioBroker.dysonairpurifier: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["npm run lint", "npm run format"],
  "*.{md,json}": ["npm run format"]
}

Name to dyson code translation Grizzelbee/ioBroker.dysonairpurifier#273
  .gitignore
  .npmignore
  dysonConstants.js
  dysonConstants.test.js
  main.js
Due: npm run lint, npm run format

v3.1.9
  README.md
  dyson-utils.js
  io-package.json
  main.js
  package.json
Due: npm run lint, npm run format

removed duplicate field sltm
  dysonConstants.js
Due: npm run lint, npm run format

fixes #281 & enabled Sleeptimer
  dysonConstants.js
Due: npm run lint, npm run format

v3.1.10
  README.md
  io-package.json
  package.json
Due: npm run format

dependency update
  package-lock.json
  package.json
Due: npm run format

fixed #283
  main.js
Due: npm run lint, npm run format

Fixed display issue with sltm & fnsp
  dyson-utils.js
  dysonConstants.js
  main.js
Due: npm run lint, npm run format

Fixed display issue with sltm & fnsp
  README.md
Due: npm run format

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: npm run format

excluded another lamp and vacuum cleaners
  dyson-utils.js
Due: npm run lint, npm run format

fixes 289 -added Big&Quiet
  dysonConstants.js
Due: npm run lint, npm run format

fixes: 287 -added Switzerland (again)
  admin/jsonConfig.json
Due: npm run format

dependencies got updated
  package-lock.json
  package.json
Due: npm run format

activated deployment to npm
  .github/workflows/test-and-deploy.yml
Due: none

updated readme
  README.md
Due: npm run format

fixed workflow
  .github/workflows/test-and-deploy.yml
Due: none

removed index_m.html
  README.md
  admin/index_m.html
Due: npm run format

Fixed broken NO2Index
  main.js
Due: npm run lint, npm run format

reacts to fnsp=auto
  dysonConstants.js
  main.js
Due: npm run lint, npm run format

fixed polling of data
  main.js
Due: npm run lint, npm run format

v.3.2.0
  README.md
Due: npm run format

cleanup
  io-package.json
Due: npm run format

v3.2.0
  README.md
  io-package.json
  package.json
Due: npm run format

fixes #286 - polling works again
  main.js
Due: npm run lint, npm run format

v3.2.1
  README.md
  io-package.json
  package.json
Due: npm run format

ordered sup. devices by PType
  README.md
Due: npm run format

V3.2.2-beta-1
  .ncurc.json
  io-package.json
  package-lock.json
  package.json
Due: npm run format

fixes #286
  main.js
Due: npm run lint, npm run format

added @eslint/js
  .ncurc.json
Due: npm run format

removed unused code
  dyson-utils.js
Due: npm run lint, npm run format

v3.2.2-beta-2
  README.md
  io-package.json
  package.json
Due: npm run format

updated translations
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
  admin/i18n/es/translations.json
  admin/i18n/fr/translations.json
  admin/i18n/it/translations.json
  admin/i18n/nl/translations.json
  admin/i18n/pl/translations.json
  admin/i18n/pt/translations.json
  admin/i18n/ru/translations.json
  admin/i18n/uk/translations.json
  admin/i18n/zh-cn/translations.json
Due: npm run format

added poll intervall section
  README.md
Due: npm run format

added icon for big-n-quiet
  admin/icons/big_quiet.png
Due: none

dependencies got updated
  package-lock.json
Due: npm run format

v3.2.2-beta-3
  io-package.json
  package.json
Due: npm run format
