Repository Grizzelbee/ioBroker.dysonairpurifier: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

updated mqtt
  package-lock.json
  package.json
Due: npm run format

minor fix
  main.js
Due: npm run lint, npm run format

updated @iobroker/adapter-dev
  package-lock.json
  package.json
Due: npm run format

minor fixes
  admin/jsonConfig.json
  dyson-utils.js
  main.js
Due: npm run lint, npm run format

removed mocha recognizing code
  main.js
Due: npm run lint, npm run format

fixed test cases
  dyson-utils.test.js
Due: npm run lint, npm run format

updated export clause
  main.js
Due: npm run lint, npm run format

deleteUnusedFields: await getObject
  dyson-utils.js
Due: npm run lint, npm run format

dependencies got updated
  io-package.json
  package-lock.json
  package.json
Due: npm run format

fixed deleteUnusedFields
  dyson-utils.js
Due: npm run lint, npm run format

devices go offline on unload
  main.js
Due: npm run lint, npm run format

removed old version
  io-package.json
Due: npm run format

Added missing clearInterval in onUnload
  main.js
Due: npm run lint, npm run format

v3.2.3
  README.md
  io-package.json
  package-lock.json
  package.json
Due: npm run format

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: npm run format

fix: upgrade @types/node from 20.14.7 to 20.14.8
  package-lock.json
  package.json
Due: npm run format

fix: upgrade @types/mocha from 10.0.6 to 10.0.7
  package-lock.json
  package.json
Due: npm run format

fix: upgrade mocha from 10.4.0 to 10.5.0
  package-lock.json
  package.json
Due: npm run format

fix: upgrade @types/node from 20.14.7 to 20.14.9
  package-lock.json
  package.json
Due: npm run format

fixes some issues menmtiones by adapter-checker
  README.md
  io-package.json
  main.js
  package-lock.json
  package.json
Due: npm run lint, npm run format

added node 22.x
  .github/workflows/test-and-deploy.yml
Due: none

removed plugin sentry for controller v7
  README.md
  package-lock.json
  package.json
Due: npm run format

removed plugin-sentry
  package.json
Due: npm run format

fixes #315
  .ncurc.json
  .releaseconfig.json
  README.md
  package-lock.json
  package.json
Due: npm run format

added build scripts
  package.json
Due: npm run format

fixed version number
  package.json
Due: npm run format

text scripts
  package.json
Due: npm run format

removed link to yarn
  .releaseconfig.json
Due: npm run format

chore: release v3.2.4
  README.md
  io-package.json
  package-lock.json
  package.json
Due: npm run format

added files-section
  .npmignore
  package.json
Due: npm run format

updated workflow
  .github/workflows/test-and-deploy.yml
  .github/workflows/test-and-release.yml
Due: none

updated workflow
  .github/workflows/test-and-release.yml
Due: none

dependencies got updated
  .ncurc.json
  package-lock.json
  package.json
Due: npm run format

translations got updated
  admin/i18n/de/translations.json
  admin/i18n/en/translations.json
  admin/i18n/es/translations.json
  admin/i18n/fr/translations.json
  admin/i18n/it/translations.json
  admin/i18n/nl/translations.json
  admin/i18n/pl/translations.json
  admin/i18n/pt/translations.json
  admin/i18n/ru/translations.json
  admin/i18n/uk/translations.json
  admin/i18n/zh-cn/translations.json
Due: npm run format

fixes GUI issues
  admin/jsonConfig.json
Due: npm run format

added dyson-utils to files section
  package.json
Due: npm run format

Path conditions:
  npm run lint: any of: *.{js,jsx,ts,tsx}
  npm run format: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,json})
